/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
  }
  
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  
  .clear {
    clear: both;
  }
  
  .alignright {
    float: right;
    padding: 0 0 10px 10px; /* note the padding around a right floated image */
  }
  
  .alignleft {
    float: left;
    padding: 0 10px 10px 0; /* note the padding around a left floated image */
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
    color: #f0efef;
    font-size: 26px;
    line-height: 1.4;
    color: #606161;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
  a {
    text-decoration: none;
  }
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Center the container */
  .container {
    width: 960px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 48px;
    font-weight: 800;
  }
  
  header {
    height: 700px;
    background-color: #131e27;
    padding-top: 32px;
  }
  
  header .logo {
    color: #fff;
  }
  header h2 {
    font-size: 48px;
    text-align: center;
    color: #fff;
    margin: 120px 0 90px;
    font-weight: 600;
  }
  #button-yellow {
    border-radius: 5px;
    font-weight: 800;
    padding: 12px 0;
    width: 360px;
    font-size: 28px;
    text-align: center;
    display: block;
    margin: 0 auto;
    background: #f9e42e;
    color: #033048;
  }
  
  .blue {
    background: #033048;
    color: #fff;
    font-size: 24px;
  }
  #benefits {
    padding: 100px 0 80px;
  }
  h3 {
    color: #033048;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  #benefits p, #benefits ul {
    width: 600px;
  }
  #benefits ul {
    list-style: disc;
    margin: 30px 0 0 80px;
  }
  #testimonial {
    background-color: #131e27;
    padding: 70px 0 70px;
    color: #fff;
  }
  blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    width: 580px;
    margin: 0 auto;
  }
  blockquote span {
    font-weight: 600;
    display: block;
    font-style: normal;
  }
  aside {
    background: #f9e42e;
    padding: 30px;
    text-align: center
  }
  footer {
    background: #121212;
    padding: 65px 0 45px;
    text-align: center;
  }
  footer .logo {
    color: #f9e42e;
    margin-bottom: 68px;
  }
  footer ul li {
    display: inline-block;
    list-style: none;
    margin: 0 26px 75px;
  }
  footer p {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/  